$font: "Urbanist", sans-serif;
$font-medium: "Urbanist Medium", sans-serif;
$font-bold: "Urbanist Bold", sans-serif;
$font-bolder: "Urbanist Bolder", sans-serif;

$font-moderat: "Moderat", "sans-serif";
$font-moderat-bold: "Moderat Bold", "sans-serif";

$col-white: #fff;
$col-dark: #000;
$col-grey: #898787;
$col-grey-2: #303030;
$col-grey-dark: #838383;
$col-grey-light: #fafafa;
$col-primary: #ffd200;
$col-secondary: #f65f37;
$col-primary-light: #1f1d67;
