$font: "Avatar", sans-serif;
$font-medium: "Avatar Medium", sans-serif;
$font-bold: "Avatar Bold", sans-serif;
$font-bolder: "Avenir Bold", sans-serif;

// $font-moderat: "Avatar", "sans-serif";
// $font-moderat-bold: "Avenir Bold", "sans-serif";

$col-white: #fff;
$col-dark: #000100;
$col-grey: #898787;
$col-grey-2: #303030;
$col-grey-dark: #838383;
$col-grey-light: #fafafa;
$col-primary: #1867FF;
$col-secondary: #f65f37;
$col-primary-light: #1f1d67;
