@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.start {
  padding: 0 4rem;
  background: #000;
  // margin-top: 6rem;
  &__content {
    padding: 4rem 4rem !important;
    color: #fff;
    &__header {
      h1 {
        @include section__header__text;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        text-transform: none;
        font-size: 4rem;
        font-family: $font-bold;
        font-weight: bolder;
        line-height: 1.2;
        color: #fff;
      }
      p {
        @include section__header__paragraph;
        padding-bottom: 1rem;
        font-size: 1.15rem;
        color: #fff;
        opacity: 0.85;
        width: 60%;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 40px;
      padding-top: 1rem;
      padding-bottom: 2rem;

      &__item {
        padding: 2.4rem 0rem;
        position: relative;
        z-index: 1;

        &__iconholder {
          display: flex;
          gap: 50px;
          align-items: center;

          &__icon {
            background: $col-primary;
            height: 3rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            color: #fff;
            font-size: 1.1rem;
            // font-family: $font-moderat;
          }

          &--span {
            border-bottom: 2px dashed #ecf5ee;
            height: 2px;
            width: 100%;
          }
        }
        h6 {
          font-family: $font;
          font-weight: bold;
          padding-top: 2rem;
          font-size: 1.1rem;
          color: #fff;
        }
        p {
          font-family: $font;
          padding-top: 1.3rem;
          line-height: 1.8;
          // color: $col-primary;
          color: #fff;
          font-size: 0.98rem;
          opacity: 0.7;
        }
      }
    }
    &__button {
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 2rem;

      &--btn {
        background: $col-primary;
        color: #fff;
        padding: 1.3rem 3rem;
        border-radius: 10px;
        // font-family: $font-medium;
        font-size: 1rem;
      }
      :hover {
        color: #fff !important;
        transition: all ease 0.5s;
      }
    }
  }
}

// Media Queries
@include phone {
  .start {
    padding: 0 0.5rem !important;
    margin-top: 3rem !important;
    &__content {
      padding: 0 !important;
      &__header {
        padding: 0 !important;
        padding-top: 3rem !important;
        // text-align: center;
        h1 {
          font-size: 2rem;
          line-height: 1.3;
          padding-top: 2rem;
        }
        p {
          font-size: 0.9rem;
          width: 100%;
        }
      }
      &__grid {
        grid-gap: 0px !important;
        padding-bottom: 2.5rem !important;
        &__item {
          padding: 1rem 0;
          padding-bottom: 1.5rem;
          &__iconholder {
            gap: 20px;
            &__icon {
              height: 2rem;
              width: 2rem;
            }
            &--span {
              width: 40%;
              display: none;
            }
          }
          h6 {
            font-size: 1rem;
            padding-top: 1.5rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
      &__button {
        padding-top: 1rem;
      }
    }
  }
}
