@import "../../styles/abstracts/_variables";
@import "../../styles/abstracts/mixins";

.intro {
  background: #fff;
  padding-top: 3rem;
  padding-bottom: 4rem;

  &__text {
    max-width: 700px;
    h2 {
      line-height: 1.8;
      padding-top: 1rem;
      font-family: $font-medium;
      font-size: 1.48rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    max-width: 90%;
    padding-top: 2rem;
    padding-bottom: 3rem;

    &__item {
      background: #fffefe;
      box-shadow: inset 0 -1px 0.5px rgba(83, 83, 83, 0.4),
        inset 0 1px 0.5px rgba(218, 214, 214, 0.16);
      padding: 0.8rem 0.5rem;
      border-radius: 6px;
      text-align: center;
      color: #313131;
    }
  }
}

//Media Queries
@include phone {
  .intro {
    padding-top: 1.5rem;
    padding-bottom: 0;
    padding-right: 1rem;
    padding-left: 1rem;

    &__text {
      max-width: 100%;
      h2 {
        line-height: 1.8;
        font-size: 1.28rem;
      }
    }

    &__grid {
      display: flex;
      overflow-x: auto;
      min-width: 100%;
      padding-bottom: 0;

      &__item {
        padding: 0.8rem 0.5rem !important;
        min-width: 190px;
        margin: 0 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
