@font-face {
  font-family: "Urbanist";
  src: url("../../public/fonts/Urbanist/fonts/ttf/Urbanist-Regular.ttf");
}

@font-face {
  font-family: "Urbanist Medium";
  src: url("../../public/fonts/Urbanist/fonts/ttf/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "Urbanist Bold";
  src: url("../../public/fonts/Urbanist/fonts/ttf/Urbanist-Bold.ttf");
}

@font-face {
  font-family: "Urbanist Bolder";
  src: url("../../public/fonts/Urbanist/fonts/ttf/Urbanist-ExtraBold.ttf");
}

// @font-face {
//   font-family: "Moderat";
//      src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Regular.otf");
// }

@font-face {
  font-family: "Moderat Bold";
  src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Bold.otf");
}
