@font-face {
  font-family: "Avenir";
  src: url("../../public/fonts/Avenir Font/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("../../public/fonts/Urbanist/fonts/ttf/Urbanist-Medium.ttf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../../public/fonts/avenir_ff/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir Bolder";
  src: url("../../public/fonts/avenir_ff/AvenirLTStd-Roman.otf");
}

// @font-face {
//   font-family: "Moderat";
//      src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Regular.otf");
// }

@font-face {
  font-family: "Moderat Bold";
  src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Bold.otf");
}
