@font-face {
  font-family: "Gordita";
  src: url("../../public/fonts/GT-Font/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: "Gordita Bold";
  src: url("../../public/fonts/GT-Font/GTWalsheimPro-Bold.ttf");
}

@font-face {
  font-family: "Gordita Bolder";
     src: url("../../public/fonts/GT-Font/GTWalsheimPro-Black.ttf");
}

@font-face {
  font-family: "Moderat";
     src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Regular.otf");
}

@font-face {
  font-family: "Moderat Bold";
     src: url("../../public/fonts/AeoniFont/AeonikProTRIAL-Bold.otf");
}